*{
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

@font-face {
  font-family: "antiguoFont";
  src: url("antiguo_jesulink.ttf")
}
  
body{
  background-image: url(backgroun.png);
  background-position: center;
  background-size: cover;
}

h1{
  color: white; 
}

.container {
  display: flex;
  margin: auto;
  width: 70%;
  flex-direction: column;
}

.number-translators, .text-translators {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-top: 6rem;
  color: white;
}

.number-translator, .text-translator {
  display: flex;
  flex-direction: column;  
}

.antiguo-from-spanish {  
  font-size: 40px;
  color: white;
}

.spanish-to-antiguo-text {  
  color: white;
}

#antiguo-numbers-grid, #antiguo-letters-grid {
  display: flex;
  flex-flow: row wrap;
}

#antiguo-letters-grid {
  margin: auto;
}

.antiguo-button {
  display: flex;
  flex-direction: column;
  width: 2.7rem;
  margin: 0.5rem 0.5rem;
  padding-top: 2%;
}

.button-content {
  margin: auto;
  
}

.button-content-antiguo {
  padding-left: 0.1rem;
  font-size: 2rem;
}

.button-content-letter {
  font-size: 1.5rem;
}

.antiguo-font {
  font-family: "antiguoFont";
  font-weight: 100;
}

.antiguo-to-spanish-text {
  width: 40%;
  color: white;
}

#text-input-number, #text-input-text{
  padding: 0.4em;
}

button{
  border: none;
  border-radius: 1em;
}

button:hover{
  background-color: darkgray;
}

button:active{
  background-color: grey;
  color: LightGray;
}

.star{
  margin-top: 3%;
  padding: 2% 0;
}

.fini{
  margin: 3%;
  padding: 2% 5%;
}

textarea, div div div input{
  border: 1em;
}

textarea:focus, div div div input:focus{
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

a{
  font-size: larger;
  text-align: center;
  padding: 1% 4%;
  margin-left: 18%;
  color: white;
  text-decoration: none;
  border-radius: 5em;
}

.boton-verde{
  background-color: #308D32;
}

.boton-verde:hover{
  background-color: #5fa160;
}

.boton-rojo{
  background-color: #C3041A;
}

.boton-rojo:hover{
  background-color: #C9543B;
}

footer{
  color: white;
  margin-top: 5%;
}

.text-translators:last-of-type {
    margin-bottom: 5%;
  }
